{# form_row.html.twig #}
{% block form_row %}
{% spaceless %}   
	{% set has_error = "" %}
	{% if errors|length > 0 %}
		{% set has_error = "has-error" %}
	{% endif %}
	
	<div class="form-group {{ has_error }}">
		
        {{ form_label(form) }}
        
        <div class="col-md-9">
        	{#{{ form_widget(form, {'attr': {'class': 'form-control'}}) }}#}
            {{ form_widget(form) }}
        	{{ form_errors(form) }}
    	</div>
    	
    </div>
{% endspaceless %}   
{% endblock form_row %}

{% block form_widget_simple %}
{% spaceless %} 
    {% set class = "" %}
    {% for attrname, attrvalue in attr %}
        {% if attrname == 'class' %}
            {% set class = attrvalue %}
        {% endif %}
    {% endfor %}

    {% set type = type|default('text') %}
    <input type="{{ type }}"  class="form-control {{ class }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}




{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {#% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %#}
    {% set label_attr = label_attr|merge({'class': 'control-label col-md-3'}) %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endspaceless %}   
{% endblock form_label %}


{% block submit_widget %}
{% spaceless %}
	
		<button type="submit" class="{{ attr.class | default('btn') }}" {{ block('button_attributes') }}><i class="icon-ok"></i> {{ label }}</button>
	
{% endspaceless %}        
{% endblock %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
               <span class="help-block">{{ error.message }}</span>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}