{% extends '::base.html.twig' %}

{% block title %}· Gestión de Eventos Electorales{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Cerrar proceso electoral</h1>
    </div>
    {% form_theme form ':Form:bootstrap_3_horizontal_layout.html.twig' %}
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            Esta acción es irreversible.
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Cerrar proceso electoral</h3></div>
            <div class="panel-body">
                {{ form_start(form, { 'attr': {'class': 'form-horizontal', novalidate : 'novalidate' }}) }}
                {{ form_row(form.estado) }}
                <div class="form-actions fluid">
                    <div class="col-md-12 text-center">
                        <a href="{{ path('eventoelectoral') }}" class="btn btn-default">
                            Volver
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-edit"></i> Cerrar proceso electoral
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
