{% extends '::base.html.twig' %}

{% block title %}· Gestión de Eventos Electorales{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Editar Evento Electoral <small>{{ entity.nombre }}</small></h1>
    </div>
    {% form_theme edit_form ':Form:bootstrap_3_horizontal_layout.html.twig' %}
    <div class="col-md-12">
		<div class="panel panel-default">
    		<div class="panel-heading"><h3 class="panel-title">Datos Evento Electoral</h3></div>
    		<div class="panel-body">
			{{ form_start(edit_form, { 'attr': {'class': 'form-horizontal', novalidate : 'novalidate' }}) }}
		    	{{ form_row(edit_form.nombre) }}
		    	{{ form_row(edit_form.descripcion) }}
				{{ form_row(edit_form.logotipo.file) }}
		    	{{ form_row(edit_form.administrador) }}
				<div class="form-actions fluid">
                   <div class="col-md-12 text-center">
                        <a href="{{ path('eventoelectoral_show', {'id' : entity.id}) }}" class="btn btn-default">
                            Volver
                        </a>
        				<button type="submit" class="btn btn-primary">
        					<i class="fa fa-edit"></i> Guardar
        				</button>
        			</div>
    			</div>
			{{ form_end(edit_form) }}
			{{ form_end(edit_form) }}
			</div>
		</div>
    </div>

  </div>

{% endblock %}
