{% extends 'base.html.twig' %}

{% block title %}· Gestión de Eventos Electorales{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="page-header">
            <h1>Gestión de Eventos Electorales <a class="btn btn-success btn-xs" href="{{ path('eventoelectoral_new') }}">Nuevo evento</a></h1>
        </div>

        {% for entity in entities %}
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">#{{ entity.id }} {{ entity.nombre }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-md-3">
                            {% if entity.logotipo %}
                                <img src="/{{ entity.logotipo.webPath }}" alt="{{ entity.nombre }}" class="img-thumbnail">
                            {% else %}
                                <img src="{{ asset('images/default.jpeg') }}" alt="Imagen por defecto" class="img-thumbnail">
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Nombre</th>
                                    <td>{{ entity.nombre }}</td>
                                </tr>
                                <tr>
                                    <th>Descripcion</th>
                                    <td>{{ entity.descripcion }}</td>
                                </tr>
                                <tr>
                                    <th>Estado</th>
                                    <td><span class="label label-default">{{ entity.estado }}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                        <div class="col-xs-12 text-right">
                            <a class="btn btn-primary btn-lg" href="{{ path('eventoelectoral_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Ver</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
