{% extends '::base.html.twig' %}

{% block title %}· Gestión de Eventos Electorales{% endblock %}

{% set editable = false %}
{% set convocado = false %}
{% set abierto = false %}
{% set cerrado = false %}
{% set finalizado = false %}
{% if entity.estado == constant('AppBundle\\Entity\\EventoElectoral::ESTADO_EDITABLE') %}
    {% set editable = true %}
{% elseif entity.estado == constant('AppBundle\\Entity\\EventoElectoral::ESTADO_CONVOCADO') %}
    {% set convocado = true %}
{% elseif entity.estado == constant('AppBundle\\Entity\\EventoElectoral::ESTADO_ABIERTO') %}
    {% set abierto = true %}
{% elseif entity.estado == constant('AppBundle\\Entity\\EventoElectoral::ESTADO_CERRADO') %}
    {% set cerrado = true %}
{% elseif entity.estado == constant('AppBundle\\Entity\\EventoElectoral::ESTADO_FINALIZADO') %}
    {% set finalizado = true %}
{% endif %}

{% block content -%}
    <div class="page-header">
        <h2>{{ entity.nombre }} {% if editable %}<span class="label label-primary pull-right">EDITABLE</span>{% elseif convocado %}<span class="label label-warning pull-right">Convocado</span>{% elseif abierto %}<span class="label label-success pull-right">Abierto</span>{% elseif cerrado %}<span class="label label-default pull-right">Cerrado</span>{% elseif finalizado %}<span class="label label-default pull-right">Finalizado</span>{% endif %}</h2>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Información general</h3>
                </div>
                <div class="panel-body">
                    {% if entity.logotipo %}
                        <img src="/{{ entity.logotipo.webPath }}" alt="{{ entity.nombre }}" class="img-thumbnail">
                    {% else %}
                        <img src="{{ asset('images/default.jpeg') }}" alt="Imagen por defecto" class="img-thumbnail">
                    {% endif %}
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>#</th>
                            <td class="text-right">{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td class="text-right">{{ entity.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Descripcion</th>
                            <td class="text-right">{{ entity.descripcion }}</td>
                        </tr>
                        <tr>
                            <th>Convocado el</th>
                            <td class="text-right">{{ entity.convocado|date('d/m/Y h:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Abierto el</th>
                            <td class="text-right">{{ entity.inicio|date('d/m/Y h:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Cerrado el</th>
                            <td class="text-right">{{ entity.fin|date('d/m/Y h:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Administradores</th>
                            <td class="text-right">
                                <ul class="list-unstyled">
                                    {% for admin in entity.administrador %}
                                        <li>{{ admin.dni }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Electores</th>
                            <td class="text-right">{{ entity.censoElectoral|length }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="page-header">
                <h4>Evento Electoral <small>Acciones</small></h4>
            </div>
            <a class="btn btn-default btn-block {% if not editable %}disabled{% endif %}" href="{{ path('eventoelectoral_edit', { 'id': entity.id }) }}">Editar</a>
            <a class="btn btn-default btn-block {% if not editable %}disabled{% endif %}" data-toggle="modal" data-target="#eliminarEventoElectoralModal">Eliminar</a>
            <button type="button" class="btn btn-default btn-block {% if entity.censoElectoral.count == 0 %}disabled{% endif %}" data-toggle="modal" data-target="#censoElectoralModal">
                Ver censo electoral
            </button>
            <a class="btn btn-default btn-block {% if not editable %}disabled{% endif %}"  href="{{ path('eventoelectoral_convocar', { 'id' : entity.id }) }}">Convocar</a>
            <a class="btn btn-default btn-block {% if not convocado %}disabled{% endif %}"  href="{{ path('eventoelectoral_abrir', { 'id' : entity.id }) }}">Abrir proceso electoral</a>
            <a class="btn btn-default btn-block {% if not abierto %}disabled{% endif %}"  href="{{ path('eventoelectoral_cerrar', { 'id' : entity.id }) }}">Cerrar proceso electoral</a>
            <div class="page-header">
                <h4>Votaciones <small>Acciones</small></h4>
            </div>
            <a class="btn btn-default btn-block {% if not editable %}disabled{% endif %}" data-toggle="modal" data-target="#nuevaVotacionModal">Añadir</a>
        </div>
        <div class="col-xs-8">
            {% for votacion in entity.votacion %}
                {% if votacion|class == "VotacionListasCerradas" %}
                    {% include  'Backend/votacion/includes/panel_info_votaciones_listas_cerradas.html.twig' with { 'entity' : votacion, 'editable': editable } only %}
                {% elseif votacion|class == "VotacionListasAbiertas" %}
                    {% include  'Backend/votacion/includes/panel_info_votaciones_listas_abiertas.html.twig' with { 'entity' : votacion, 'editable': editable } only %}
                {% elseif votacion|class == "VotacionReferendum" %}
                    {% include  'Backend/votacion/includes/panel_info_votaciones_referendum.html.twig' with { 'entity' : votacion, 'editable': editable } only %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="col-xs-12 text-center">
        <a class="btn btn-default " href="{{ path('eventoelectoral') }}"><span class="" aria-hidden="true"></span> Volver</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="eliminarEventoElectoralModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Eliminar Evento Electoral: {{ entity.nombre }}</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>#</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Descripcion</th>
                            <td>{{ entity.descripcion }}</td>
                        </tr>
                        <tr>
                            <th>Periodo votación</th>
                            <td>De <strong>{{ entity.inicio|date('d/m/Y h:i') }}</strong> hasta <strong>{{ entity.fin|date('d/m/Y h:i') }}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    {{ form(delete_form) }}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="nuevaVotacionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Añadir nueva votación</h4>
                </div>
                <div class="modal-body text-center">
                    <a class="btn btn-success" href="{{ path('votacion_listas_cerradas_new', {'evento_electoral_id' : entity.id}) }}">Listas Cerradas</a>
                    <a class="btn btn-success" href="{{ path('votacion_listas_abiertas_new', {'evento_electoral_id' : entity.id}) }}">Listas Abiertas</a>
                    <a class="btn btn-success" href="{{ path('votacion_referendum_new', { 'evento_electoral_id' : entity.id }) }}">Referendum</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="censoElectoralModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Censo electoral: {{ entity.nombre }}</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-hover">
                        <thead>
                        <th>#</th>
                        <th>DNI</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Nombre</th>
                        <th>Votaciones</th>
                        <th>Validación</th>
                        </thead>
                        <tbody>
                        {% for elector in censo  %}
                            <tr>
                                <td>{{ elector.id }}</td>
                                <td>{{ elector.dni }}</td>
                                <td>{{ elector.primer_apellido }}</td>
                                <td>{{ elector.segundo_apellido }}</td>
                                <td>{{ elector.nombre }}</td>
                                <td>
                                    {% for votacion in elector.votaciones %}
                                        {{ votacion }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {#{% set validacion = true %}#}
                                    {#{% for estado in elector.validacion %}#}
                                        {#{% if estado == false %}#}
                                            {#{% set validacion = false %}#}
                                        {#{% endif %}#}
                                    {#{% endfor %}#}
                                    {#{% if elector.validacion.dni %}#}
                                        {#<h5 style="color: green; margin:0"><span class="glyphicon glyphicon-ok-circle"></span></h5>#}
                                    {#{% else %}#}
                                        {#<h5 style="color: red; margin:0"><span class="glyphicon glyphicon-remove-circle"></span></h5>#}
                                    {#{% endif %}#}
                                    {% if elector.validacion.dni %}
                                        <span class="glyphicon glyphicon-user" aria-hidden="true" data-toggle="tooltip" title="DNI validado"></span>
                                    {% endif %}
                                    {% if elector.validacion.numero_telefono %}
                                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true" data-toggle="tooltip" title="Número de teléfono validado"></span>
                                    {% endif %}
                                    {% if elector.validacion.app %}
                                        <span class="glyphicon glyphicon-phone" aria-hidden="true" data-toggle="tooltip" title="Aplicación móvil validada"></span>
                                    {% endif %}
                                    {% if elector.validacion.clave_publica %}
                                        <span class="glyphicon glyphicon-lock" aria-hidden="true" data-toggle="tooltip" title="Claves RSA validadas"></span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery_ready %}
    $('[data-toggle="tooltip"]').tooltip({'placement': 'bottom'});
{% endblock %}