@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

@font-family-base: 'Roboto', @font-family-sans-serif;

body {
  padding-top: 50px !important;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}