@gray-base: #2e5ba4;
@body-bg: #f8f8f8;
@text-color: #999999;
@brand-primary: lighten(@gray-base, 6.5%);

@font-family-base:  "Roboto";

//navbar
@navbar-default-bg: @gray-base;
@navbar-default-color: #f8f8f8;
@navbar-default-link-color: #f8f8f8;
@navbar-default-link-hover-color: darken(@navbar-default-brand-color, 6,5%);
@navbar-default-link-active-color: lighten(@navbar-default-link-color, 50%);
@navbar-default-link-active-bg: darken(@navbar-default-bg, 10%);

// panels
@panel-default-text: @text-color;
