{% extends 'base2.html.twig' %}

{% block title %}· Tablón de anuncios{% endblock %}
{% block title_navbar %}Referendum Electrónico<span class="hidden-xs"> · Tablón de anuncios</span>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 text-center hidden-xs">
            <h1>Tablón de anuncios</h1>
        </div>
        {% for entity in eventos %}
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">#{{ entity.id }} {{ entity.nombre }}</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th class="col-xs-3">Nombre</th>
                                <td class="col-xs-9 text-right">{{ entity.nombre }}</td>
                            </tr>
                            <tr>
                                <th>Descripción</th>
                                <td class="text-right">{{ entity.descripcion }}</td>
                            </tr>
                            <tr>
                                <th>Estado</th>
                                <td class="text-right"><span class="label label-default">{{ entity.estado }}</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="col-xs-12 text-center">
                            <a class="btn btn-primary btn-md" href="{{ path('tablon_anuncios_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
