{% extends 'base2.html.twig' %}

{% block title %}· Tablón de anuncios · #{{ evento.id }} {{ evento.nombre }}{% endblock %}
{% block title_navbar %}Tablón de anuncios<span class="hidden-xs"> · #{{ evento.id }} {{ evento.nombre }}</span>{% endblock %}

{% set estadoFinalizado = false %}
{% if evento.estado == constant('AppBundle\\Entity\\EventoElectoral::ESTADO_FINALIZADO') %}
    {% set estadoFinalizado = true %}
{% endif %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-left" style="padding-right: 20px">
                        <img src="{{ asset('images/referendum-electronico.png') }}" class="img-responsive" width="25px;">
                    </div>
                    <h3 class="panel-title" style="height: 25px; line-height: 25px">Datos del evento<span class="hidden-xs">: #{{ evento.id }} {{ evento.nombre }}</span></h3>
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-top: 20px">
                        <div class="col-xs-12 text-center col-md-4">
                            {% if evento.logotipo %}
                                <img src="/{{ evento.logotipo.webPath }}" alt="{{ evento.nombre }}" class="img-thumbnail">
                            {% else %}
                                <img src="{{ asset('images/default.jpeg') }}" alt="Imagen por defecto" class="img-thumbnail">
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th class="col-xs-4">Nombre</th>
                                    <td class="col-xs-8 text-right">{{ evento.nombre }}</td>
                                </tr>
                                <tr>
                                    <th>Descripción</th>
                                    <td class="text-right">{{ evento.descripcion }}</td>
                                </tr>
                                <tr>
                                    <th>Estado</th>
                                    <td class="text-right"><span class="label label-default">{{ evento.estado }}</span></td>
                                </tr>
                                <tr>
                                    <th class="col-xs-3">Convocado el</th>
                                    <td class="text-right">{% if evento.convocado %}{{ evento.convocado|date('d/m/Y h:i:s') }}{% else %}---{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Abierto el</th>
                                    <td class="col-xs-9 text-right">{% if evento.inicio %}{{ evento.inicio|date('d/m/Y h:i:s') }}{% else %}---{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Cerrado el</th>
                                    <td class="col-xs-9 text-right">{% if evento.fin %}{{ evento.fin|date('d/m/Y h:i:s') }}{% else %}---{% endif %}</td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>Clave privada</th>
                                    <td class="text-right">
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-default" {% if clavePrivada is null %}data-toggle="tooltip" title="La clave privada del evento se publica cuando se cierra el proceso electoral"{% else %}data-toggle="modal" data-target="#modalClavePrivada"{% endif %}>
                                            Abrir
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-xs-5">Número de electores</th>
                                    <td class="col-xs-7 text-right">{{ evento.censoElectoral |length }}</td>
                                </tr>
                                <tr>
                                    <th class="col-xs-5">Total votantes</th>
                                    <td class="col-xs-7 text-right">{% if estadoFinalizado %}{{ evento.numeroPapeletas - evento.numeroPapeletasNulas }} ({{ ((evento.numeroPapeletas * 100) / (evento.censoElectoral |length))|number_format(2, ',', '.') }} %){% else %}---{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Abstención</th>
                                    <td class="text-right">{% if estadoFinalizado %}{{ (evento.censoElectoral|length)-(evento.numeroPapeletas - evento.numeroPapeletasNulas) }} ({{ (( (evento.censoElectoral|length)-(evento.numeroPapeletas - evento.numeroPapeletasNulas) ) * 100 / (evento.censoElectoral |length))|number_format(2, ',', '.')}}%){% else %}---{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Papeletas nulas</th>
                                    <td class="text-right">{% if estadoFinalizado %}{{ evento.numeroPapeletasNulas }} papeletas nulas{% else %}---{% endif %}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if clavePrivada %}
        {# BEGIN MODAL CLAVE PRIVADA #}
        <div class="modal fade" tabindex="-1" role="dialog" id="modalClavePrivada">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Clave privada</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ clavePrivada }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        {# END MODAL CLAVE PRIVADA #}
    {% endif %}

    {#VOTACIONES#}
    {% for votacion in evento.votacion %}

        {% if votacion.getClass == "VotacionListasCerradas" %}
            {% include ':Frontend/TablonAnuncios/includes:show_lista_cerrada.html.twig' with {'votacion': votacion} %}
        {% elseif votacion.getClass == "VotacionListasAbiertas" %}
            {% include ':Frontend/TablonAnuncios/includes:show_lista_abiertas.html.twig' with {'votacion': votacion, 'escrutinio' : escrutinioVotacionesAbiertas[votacion.id]} %}
        {% elseif votacion.getClass == "VotacionReferendum" %}
            {% include ':Frontend/TablonAnuncios/includes:show_referendum.html.twig' with {'votacion': votacion} %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block jquery_ready %}
    $('[data-toggle="tooltip"]').tooltip({'placement': 'bottom'});
{% endblock %}