<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('images/referendum-electronico.png') }}">

    <title>Referendum Electrónico{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bootstrap-3.3.6/dist/css/bootstrap.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ asset('bootstrap-3.3.6/docs/assets/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{{ asset('bootstrap-3.3.6/docs/assets/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
    <script src="{{ asset('bootstrap-3.3.6/docs/assets/js/ie-emulation-modes-warning.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

{% if not app.user %}
    {% set homepageUrl = path('homepage') %}
{% else %}
    {% set homepageUrl = path('backend') %}
{% endif %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ homepageUrl }}">{% block title_navbar %}Referendum Electrónico{% endblock %}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li {% if app.request.get('_route') == 'homepage' %}class="active"{% endif %}><a href="{{ homepageUrl }}">Home</a></li>
                    <li {% if app.request.get('_route') == 'perfil' %}class="active"{% endif %}><a href="{{ path('perfil', { 'dni' : app.user.username }) }}">Mi perfil</a></li>
                    {#            <li {% if app.request.get('_route') == '' %}class="active"{% endif %}><a href="">Mis votaciones</a></li>#}
                    {#            <li {% if app.request.get('_route') == '' %}class="active"{% endif %}><a href="">Gestión de votaciones</a></li>#}
                    <li {% if app.request.get('_route') == 'usuario' %}class="active"{% endif %}><a href="{{ path('usuario') }}">Usuarios</a></li>
                    {#<li {% if app.request.get('_route') == 'lab' %}class="active"{% endif %}><a href="{{ path('lab') }}">Lab</a></li>#}
                    <li><a href="{{ path('tablon_anuncios_index') }}">Tablón anuncios</a></li>
                    <li {% if app.request.get('_route') == 'eventoelectoral' %}class="active"{% endif %}><a href="{{ path('eventoelectoral') }}">Eventos Electorales</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <p class="navbar-text">Tu dni es {{ app.user.username }}</p>
                    {% endif %}
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container container-principal">

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            {% for tipo,mensajes in app.session.flashbag.all %}
                {% for mensaje in mensajes %}
                    <div class="alert alert-{{ tipo }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>¡{{ tipo|capitalize }}!</strong> {{ mensaje }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    {% block content %}
    {% endblock %}

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{{ asset('bootstrap-3.3.6/dist/js/bootstrap.min.js') }}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ asset('bootstrap-3.3.6/docs/assets/js/ie10-viewport-bug-workaround.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        {% block jquery_ready %}{% endblock %}
    });
</script>
</body>
</html>