{% extends 'base.html.twig' %}

{% block title %}· Certificado no válido{% endblock %}

{% block content %}
  <div class="starter-template">
    <h1>¡Ups! Tenemos un problema</h1>
    <p class="lead">No se te permite el acceso porque tu certificado no es válido.</p>
  </div>
{% endblock %}
