{% extends 'base.html.twig' %}

{% block title %}· Homepage{% endblock %}

{% block content %}
    <div class="starter-template">
        <h1>Bienvenido al Sistema General</h1>
        <p class="lead">Pulsa el botón para iniciar sesión con tu certificado digital</p>
        <a class="btn btn-primary btn-lg" href="{{ app.request.getSchemeAndHttpHost() }}/app.php/backend/">Acceder</a>
    </div>
{% endblock %}
