{% if rol == 'Usuario' %}
    <span class="glyphicon glyphicon-user" aria-hidden="true" style="color: #286090" data-toggle="tooltip" data-placement="top" title="Rol de usuario"></span>
{% elseif rol == 'Registrador' %}
    <span class="glyphicon glyphicon-edit" aria-hidden="true" style="color: #286090" data-toggle="tooltip" data-placement="top" title="Rol de registrador"></span>
{% elseif rol == 'Administrador' %}
    <span class="glyphicon glyphicon-wrench" aria-hidden="true" style="color: #286090" data-toggle="tooltip" data-placement="top" title="Rol de administrador"></span>
{% endif %}