{% extends '::base.html.twig' %}

{% block title %}· Gestión de Eventos Electorales{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Eliminar Votacion</h1>
    </div>
    {% form_theme delete_form ':Form:bootstrap_3_horizontal_layout.html.twig' %}
    <div class="col-xs-6 col-xs-offset-3">
		<div class="panel panel-default">
    		<div class="panel-heading"><h3 class="panel-title">¿Estas seguro de eliminar la votación?</h3></div>
    		<div class="panel-body">
    		    <dl class="dl-horizontal">
                  <dt>Nombre</dt>
                  <dd>{{ entity.nombre }}</dd>
                    <dt>Descripcion</dt>
                  <dd>{{ entity.descripcion }}</dd>
                </dl>
			</div>
			<div class="panel-footer">
                    {{ form(delete_form) }}
            </div>
		</div>
    </div>
  </div>

{% endblock %}
