{% extends '::base.html.twig' %}

{% block title %}· Gestión de Eventos Electorales{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>{{ entity.eventoElectoral.nombre }} · {{ entity.nombre }} <small>Candidaturas</small> <a class="btn btn-success btn-xs" href="{{ path('lista_new', { 'id' : entity.id }) }}">Nueva lista</a></h1>
    </div>

    {% for candidatura in entities %}
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">#{{ candidatura.id }} {{ candidatura.nombreAbreviado }}</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Nombre Completo</th>
                            <td>{{ candidatura.nombreCompleto }}</td>
                        </tr>
                        <tr>
                            <th>Nombre Abrevidado</th>
                            <td>{{ candidatura.nombreCompleto }}</td>
                        </tr>
                        {#<tr>#}
                            {#<th>Descripcion</th>#}
                            {#<td>{{ entity.descripcion }}</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<th>Fecha</th>#}
                            {#<td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                        {#</tr>#}
                        </tbody>
                    </table>
                    {#<a class="btn btn-primary btn-xs" href="{{ path('eventoelectoral_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Ver</a>#}
                    <a class="btn btn-default btn-xs" href="{{ path('lista_show', { 'id' : candidatura.id }) }}">Ver detalle</a>
                    <a class="btn btn-default btn-xs" href="{{ path('lista_edit', { 'id' : candidatura.id }) }}">Editar</a>
                    <a class="btn btn-default btn-xs" href="{{ path('lista_predelete', { 'id' : candidatura.id }) }}">Eliminar</a>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="clearfix"></div>

    <div class="col-xs-12 text-center">
        <a class="btn btn-default " href="{{ path('eventoelectoral_show', { 'id': entity.eventoElectoral.id }) }}"><span class="" aria-hidden="true"></span> Volver</a>
    </div>

{% endblock %}
