{% extends 'base.html.twig' %}

{% block title %}· Eliminar cuenta de usuario{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="page-header">
            <h1>Eliminar tu cuenta de usuario</h1>
        </div>

        {% form_theme form ':Form:bootstrap_3_horizontal_layout.html.twig' %}
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Confirmación de eliminación</h3></div>
                <div class="panel-body">
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal', novalidate : 'novalidate' }}) }}
                    {{ form_row(form.confirmacion) }}
                    <div class="form-actions fluid">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-edit"></i> Eliminar
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>

{% endblock %}