{% extends 'base.html.twig' %}

{% block title %}· Editar usuario{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="page-header">
            <h1>Gestión de usuario: Editar</h1>
        </div>

        {#{% form_theme form ':Form:form_row.html.twig' %}#}
        {% form_theme form ':Form:bootstrap_3_horizontal_layout.html.twig' %}
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Datos del usuario</h3></div>
                <div class="panel-body">
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal', novalidate : 'novalidate' }}) }}
                    {{ form_row(form.dni) }}
                    {{ form_row(form.nombre) }}
                    {{ form_row(form.apellidos) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.telefonoMovil.prefijoPais) }}
                    {{ form_row(form.telefonoMovil.numeroTelefono) }}
                    <div class="form-actions fluid">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-edit"></i> Guardar
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>

{% endblock %}