{% extends 'base.html.twig' %}

{% block title %}· Gestión de usuarios{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="page-header">
            <h1>Gestión de usuarios <a class="btn btn-success btn-xs" href="{{ path('usuario_new') }}">Nuevo usuario</a></h1>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Roles</th>
                <th>Email</th>
                <th><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Teléfono movil</th>
                <th></th>
                <th>Código</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>
                        {{ user.dni}}
                        {% if user.validacionDniAuto %}
                            <span class="glyphicon glyphicon-certificate" aria-hidden="true" style="color: #449D44" data-toggle="tooltip" data-placement="top" title="Dni válidado por certificado"></span>
                        {% endif %}
                    </td>
                    <td>{{ user.nombre}} {{ user.apellidos}}</td>
                    <td>
                        {% for rol in user.roles %}
                            {% include ':Backend/usuario/includes:rol_icono.html.twig' with { 'rol' : rol.name } %}
                        {% endfor %}
                    </td>
                    <td>{{ user.email}}</td>
                    <td>
                        {% if user.telefonoMovil %}
                            {{ user.telefonoMovil.numeroTelefono}}
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                    <td>
                        {% if user.validDni %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true" data-toggle="tooltip" title="DNI validado"></span>
                        {% endif %}
                        {% if user.validTelefono %}
                            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true" data-toggle="tooltip" title="Número de teléfono validado"></span>
                        {% endif %}
                        {% if user.app and user.validApp(user.app.registrationId) %}
                            <span class="glyphicon glyphicon-phone" aria-hidden="true" data-toggle="tooltip" title="Aplicación móvil validada"></span>
                        {% endif %}
                        {% if user.app and user.publicKeyValid(user.app.registrationId) %}
                            <span class="glyphicon glyphicon-lock" aria-hidden="true" data-toggle="tooltip" title="Claves RSA validadas"></span>
                        {% endif %}

                        {% if user.telefonoMovil and not user.isValidTelefono %}
                            {% if  user.telefonoMovil.envioSmsCodigo %}
                                <span class="glyphicon glyphicon-send" aria-hidden="true" style="color: #286090" data-toggle="tooltip" data-placement="top" title="Código enviado"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="color: #EC971F" data-toggle="tooltip" data-placement="top" title="Código no enviado"></span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle btn-xs btn-primary" data-toggle="dropdown" aria-expanded="false">
                                Accciones <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% if not user.validacionDniAuto %}
                                    <li><a href="{{ path('usuario_edit', { 'id' : user.id }) }}">Editar</a></li>
                                {% endif %}
                                <li><a href="{{ path('usuario_eliminar', { 'id' : user.id }) }}">Eliminar</a></li>
                                <li><a href="{{ path('usuario_rol', { 'id' : user.id }) }}">Roles</a></li>

                                <li class="divider"></li>
                                {% if not user.isValidTelefono %}
                                    <li><a href="{{ path('usuario_validar_telefono_usuario', { 'id' : user.id }) }}">Validar teléfono</a></li>
                                    <li><a href="{{ path('usuario_reenviar_codigo', { 'id' : user.id }) }}">Reenviar código</a></li>
                                {% endif %}
                                <li><a href="{{ path('usuario_cambiar_telefono', { 'id' : user.id }) }}">Cambiar número de teléfono</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


{% block jquery_ready %}

    $('[data-toggle="tooltip"]').tooltip();

{% endblock %}