{% extends 'base.html.twig' %}

{% block title %}· Homepage{% endblock %}

{% block content %}

    <div class="starter-template">
        <h1>¡Bienvenido {{ app.user.nombre }}!</h1>

        {% if app.user.validacionTelefono and app.user.validacionDni%}
            <p class="lead">Tu cuenta está lista para usar el sistema.</p>
        {% else %}
            <p class="lead">Para poder ser un votante activo el sistema debe validar tu DNI y tu número de teléfono.</p>
        {% endif %}

        <div class="row" style="margin-top:100px">
            {% if app.user.validacionDni == false %}
                <div class="col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Validación del DNI</h3>
                        </div>
                        <div class="panel-body">
                            <p>Tu DNI no ha sido validado. Si dispones de dnie ó certificado digital puedes realizar la validación automática.</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Validación del DNI</h3>
                        </div>
                        <div class="panel-body">
                            <p>Tu DNI ha sido correctamente validado por el sistema.</p>
                            <p style="font-size: 44px; line-height: 44px; margin-bottom: 0"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color: #449D44" data-toggle="tooltip" data-placement="top" title="Validación de dni correcta"></span></p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if app.user.validacionTelefono %}
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Validación del número de teléfono</h3>
                        </div>
                        <div class="panel-body">
                            <p>Tu número de teléfono ha sido validado correctamente por el sistema.</p>
                            <p style="font-size: 44px; line-height: 44px; margin-bottom: 0"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color: #449D44" data-toggle="tooltip" data-placement="top" title="Validación del número de teléfono correcta"></span></p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Validación del número de teléfono</h3>
                        </div>
                        <div class="panel-body">
                            <p>Tu número de teléfono aún no ha sido validado.</p>
                            <p></p><a href="{{ path('usuario_validar_telefono') }}" class="btn btn-primary">Introducir código</a></p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
