{% extends 'base.html.twig' %}

{% block title %}· Homepage{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="page-header">
        <h1>Laboratorio de pruebas</h1>
    </div>

    <a class="btn btn-primary btn-block" href="{{ path('lab_gcm') }}">Envío de mensaje gcm</a>
    <a class="btn btn-success btn-block" href="{{ path('lab_rsa') }}">Envío de mensaje gcm cifrado con publica de app (RSA)</a>
    <a class="btn btn-info btn-block" href="{{ path('lab_rsa2') }}">Envío de mensaje gcm cifrado por servidor (RSA)</a>
    <a class="btn btn-warning btn-block" href="{{ path('lab_prueba_herencia') }}">Herencia en entidades</a>

</div>
{% endblock %}
