{% extends 'base.html.twig' %}

{% block title %}· Perfil de {{ usuario.dni }}{% endblock %}

{% block content %}

        <div class="row" style="margin-top: 50px">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3" >


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ usuario.nombre }} {{ usuario.apellidos }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center" style="font-size: 70px">
                                {% if usuario.validDni and usuario.validTelefono %}
                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color: #449D44" data-toggle="tooltip" data-placement="top" title="Validación correcta"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color: #C9302C" data-toggle="tooltip" data-placement="top" title="Tu cuenta no esta totalmente validada"></span>
                                {% endif %}
                            </div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>Dni</td>
                                        <td>{{ usuario.dni }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nombre</td>
                                        <td>{{ usuario.nombre }}</td>
                                    </tr>
                                    {% if usuario.apellidos %}
                                        <tr>
                                            <td>Apellidos</td>
                                            <td>{{ usuario.apellidos }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>Telefono</td>
                                        <td>
                                            {% if usuario.telefonoMovil %}
                                                {{ usuario.telefonoMovil.numeroTelefono }}
                                                {% if not usuario.validTelefono %}
                                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color: #C9302C" data-toggle="tooltip" data-placement="top" title="Aún no validado"></span>
                                                {% endif %}
                                            {% else %}
                                                ---
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>
                                            {% if usuario.email %}
                                                {{ usuario.email }}
                                            {% else %}
                                                ---
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Roles</td>
                                        <td>
                                            {% for rol in usuario.roles %}
                                                {% include ':Backend/usuario/includes:rol_icono.html.twig' with { 'rol' : rol.name } %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                            <span class="pull-right">
                                {% if not usuario.validTelefono %}
                                    <a href="{{ path('usuario_validar_telefono') }}" data-original-title="Validar teléfono" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-phone"></i></a>
                                {% endif %}
                                <a href="{{ path('usuario_auto_edit', { 'dni' : usuario.dni }) }}" data-original-title="Editar" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                <a href="{{ path('usuario_auto_eliminar', { 'dni' : usuario.dni }) }}" data-original-title="Eliminar cuenta" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                            </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

{% endblock %}

{% block jquery_ready %}

    $('[data-toggle="tooltip"]').tooltip();

{% endblock %}