{% extends '::base.html.twig' %}

{% block title %}· Gestión de Eventos Electorales{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Eliminar Lista</h1>
    </div>
    {% form_theme delete_form ':Form:bootstrap_3_horizontal_layout.html.twig' %}
    <div class="col-xs-6 col-xs-offset-3">
		<div class="panel panel-default">
    		<div class="panel-heading"><h3 class="panel-title">¿Estas seguro de eliminar la lista?</h3></div>
    		<div class="panel-body">
    		    <dl class="dl-horizontal">
                  <dt>Nombre</dt>
                  <dd>{{ entity.nombreCompleto }}</dd>
                    <dt>Nombre abreviado</dt>
                  <dd>{{ entity.nombreAbreviado }}</dd>
                </dl>
			</div>
			<div class="panel-footer">
                    {{ form(delete_form) }}
            </div>
		</div>
    </div>
  </div>

  <div class="col-xs-12 text-center">
        <a class="btn btn-default " href="{{ path('lista_index', { 'id': entity.votacion.id }) }}"><span class="" aria-hidden="true"></span> Volver</a>
    </div>

{% endblock %}
