{% extends '::base.html.twig' %}

{% block title %}· Gestión de Eventos Electorales{% endblock %}

{% set editable = false %}
{% if entity.eventoElectoral.estado == constant('AppBundle\\Entity\\EventoElectoral::ESTADO_EDITABLE') %}
    {% set editable = true %}
{% endif %}
{% block content -%}
    <div class="page-header">
        <h1>{{ entity.eventoElectoral.nombre }} · {{ entity.nombre }} <small>Candidaturas</small> {% if editable %}<a class="btn btn-success btn-xs" href="{{ path('lista_new', { 'id' : entity.id }) }}">Nueva lista</a>{% endif %}</h1>
    </div>

    {% for candidatura in entities %}
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">#{{ candidatura.id }} {{ candidatura.nombreAbreviado }}</h3>
                </div>
                <div class="panel-body"  style="min-height: 183px">
                    <div class="col-xs-4">
                        {% if candidatura.logotipo %}
                            <img data-src="holder.js/100%x150" src="/{{ candidatura.logotipo.webPath }}" alt="{{ candidatura.nombreAbreviado }}" class="img-thumbnail">
                        {% else %}
                            <img data-src="holder.js/100%x150" src="{{ asset('images/default.jpeg') }}" alt="Imagen por defecto" class="img-thumbnail">
                        {% endif %}
                    </div>
                    <div class="col-xs-8">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>Nombre Completo</th>
                                <td>{{ candidatura.nombreCompleto }}</td>
                            </tr>
                            <tr>
                                <th>Nombre Abrevidado</th>
                                <td>{{ candidatura.nombreCompleto }}</td>
                            </tr>
                            </tbody>
                        </table>

                        {#<a class="btn btn-primary btn-xs" href="{{ path('eventoelectoral_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Ver</a>#}
                        <a class="btn btn-default btn-xs" href="{{ path('lista_show', { 'id' : candidatura.id }) }}">Ver detalle</a>
                        {% if editable %}
                            <a class="btn btn-default btn-xs" href="{{ path('lista_edit', { 'id' : candidatura.id }) }}">Editar</a>
                            <a class="btn btn-default btn-xs" href="{{ path('lista_predelete', { 'id' : candidatura.id }) }}">Eliminar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="clearfix"></div>

    <div class="col-xs-12 text-center">
        <a class="btn btn-default " href="{{ path('eventoelectoral_show', { 'id': entity.eventoElectoral.id }) }}"><span class="" aria-hidden="true"></span> Volver</a>
    </div>

{% endblock %}
