{% extends '::base.html.twig' %}

{% block title %}· Gestión de Eventos Electorales{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Nueva Lista</h1>
    </div>
    {% form_theme form ':Form:bootstrap_3_horizontal_layout.html.twig' %}
    <div class="col-md-12">
		<div class="panel panel-default">
    		<div class="panel-heading"><h3 class="panel-title">Datos Lista</h3></div>
    		<div class="panel-body">
			{{ form_start(form, { 'attr': {'class': 'form-horizontal', novalidate : 'novalidate' }}) }}
		    	{{ form_row(form.nombreCompleto) }}
		    	{{ form_row(form.nombreAbreviado) }}
		    	{{ form_row(form.logotipo.file) }}
		    	<ul class="candidatos list-unstyled" data-prototype="{{ form_widget(form.candidatos.vars.prototype)|e }}">
		    	{% for candidato in form.candidatos %}
                    <li class="item">
                        {{ form_row(candidato.nombreCompleto) }}
                        {{ form_row(candidato.foto.file) }}
                        {{ form_row(candidato.posicion) }}
                        {{ form_row(candidato.seccionLista) }}
                    </li>
                {% endfor %}
                </ul>
                <div class="hide">
                    {{ form_row(form.candidatos) }}
                </div>
				<div class="form-actions fluid">
                   <div class="col-md-12 text-center">
                        <a href="{{ path('lista_index', { 'id' : entity.votacion.id }) }}" class="btn btn-default">
                          Volver
                        </a>
        				<button type="submit" class="btn btn-primary">
        					<i class="fa fa-edit"></i> Guardar
        				</button>
        			</div>
    			</div>
			{{ form_end(form) }}
			</div>
		</div>
    </div>
  </div>

{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('stylesheets/formulario_embebido_dinamico.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascripts/form_candidatos.js') }}"></script>
{% endblock %}