{% extends '::base.html.twig' %}

{% block title %}· Gestión de Eventos Electorales{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Detalle Lista</h1>
    </div>

    <div class="col-xs-12">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Imagen</h3>
                </div>
                <div class="panel-body">
                    {% if entity.logotipo %}
                        <img src="/{{ entity.logotipo.webPath }}" alt="{{ entity.nombreAbreviado }}" class="img-thumbnail">
                    {% else %}
                        <img src="{{ asset('images/default.jpeg') }}" alt="Imagen por defecto" class="img-thumbnail">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Información general</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>#</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombreCompleto }}</td>
                        </tr>
                        <tr>
                            <th>Descripcion</th>
                            <td>{{ entity.nombreAbreviado }}</td>
                        </tr>
                        <tr>
                            <th>Candidatos</th>
                            <td>{{ entity.candidatos|length }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Listado candidatos</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <th>#</th>
                    <th>Posición</th>
                    <th>Foto</th>
                    <th>Nombre y Apellidos</th>
                    </thead>
                    <tbody>
                    {% for candidato in candidatos  %}
                        <tr>
                            <td class="col-xs-1">{{ candidato.id }}</td>
                            <td class="col-xs-1">{{ candidato.posicion }}</td>
                            <td class="col-xs-2">
                                {% if candidato.foto %}
                                    <img src="/{{ candidato.foto.webPath }}" alt="{{ candidato.nombreCompleto }}" class="img-thumbnail">
                                {% else %}
                                    <img src="{{ asset('images/default.jpeg') }}" alt="Imagen por defecto" class="img-thumbnail">
                                {% endif %}
                            </td>
                            <td class="col-xs-8">{{ candidato.nombreCompleto }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <hr>
                <h4>Suplentes</h4>
                <table class="table table-hover">
                    <thead>
                    <th>#</th>
                    <th>Posición</th>
                    <th>Foto</th>
                    <th>Nombre y Apellidos</th>
                    </thead>
                    <tbody>
                    {% for candidato in candidatosSuplentes  %}
                        <tr>
                            <td class="col-xs-1">{{ candidato.id }}</td>
                            <td class="col-xs-1">{{ candidato.posicion }}</td>
                            <td class="col-xs-2">
                                {% if candidato.foto %}
                                    <img src="/{{ candidato.foto.webPath }}" alt="{{ candidato.nombreCompleto }}" class="img-thumbnail">
                                {% else %}
                                    <img src="{{ asset('images/default.jpeg') }}" alt="Imagen por defecto" class="img-thumbnail">
                                {% endif %}
                            </td>
                            <td class="col-xs-8">{{ candidato.nombreCompleto }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-xs-12 text-center">
        <a class="btn btn-default " href="{{ path('lista_index', { 'id': entity.votacion.id }) }}"><span class="" aria-hidden="true"></span> Volver</a>
    </div>

{% endblock %}