<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th class="text-center">Estado validación</th>
                    {#<th>Descarga papeleta</th>#}
                    <th>Resguardo de voto (L1)</th>
                </tr>
                {% for elector in electorado %}
                    <tr>
                        <td><span class="label label-default">{{ elector.id_elector }}</span></td>
                        <td>{{ elector.primer_apellido }} {{ elector.segundo_apellido }}, {{ elector.nombre }}</td>
                        <td class="text-center">
                            {% if elector.validacion_dni %}
                                <span class="glyphicon glyphicon-user" aria-hidden="true" data-toggle="tooltip" title="DNI validado"></span>
                            {% endif %}
                            {% if elector.validacion_numero_telefono %}
                                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true" data-toggle="tooltip" title="Número de teléfono validado"></span>
                            {% endif %}
                            {% if elector.validacion_app %}
                                <span class="glyphicon glyphicon-phone" aria-hidden="true" data-toggle="tooltip" title="Aplicación móvil validada"></span>
                            {% endif %}
                            {% if elector.validacion_rsa %}
                                <span class="glyphicon glyphicon-lock" aria-hidden="true" data-toggle="tooltip" title="Claves RSA validadas"></span>
                            {% endif %}
                        </td>
                        {#<td>{{ elector.descarga_papeleta }}</td>#}
                        <td>{% if elector.L1 is not null %}{{ elector.L1 }}{% else %}---{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>