<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left" style="padding-right: 20px">
                    <img src="{{ asset('images/listas_abiertas.png') }}" class="img-responsive" width="25px;">
                </div>
                <h3 class="panel-title" style="height: 25px; line-height: 25px">Votacion referendum<span class="hidden-xs">: #{{ votacion.id }} {{ votacion.nombre }}</span></h3>
            </div>
            <div class="panel-body">
                <ul id="myTabs-{{ votacion.id }}" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#info-{{ votacion.id }}" id="info-tab-{{ votacion.id }}" role="tab" data-toggle="tab" aria-controls="info-{{ votacion.id }}" aria-expanded="true"><span class="hidden-xs">Información</span><span class="visible-xs-block">Info</span></a>
                    </li>
                    <li role="presentation">
                        <a href="#electorado-{{ votacion.id }}" id="electorado-tab-{{ votacion.id }}" role="tab" data-toggle="tab" aria-controls="electorado-{{ votacion.id }}" aria-expanded="true">Electorado</a>
                    </li>
                    <li role="presentation">
                        <a href="#preguntas-{{ votacion.id }}" id="preguntas-tab-{{ votacion.id }}" role="tab" data-toggle="tab" aria-controls="preguntas-{{ votacion.id }}" aria-expanded="true">Preguntas</a>
                    </li>
                </ul>
                <div id="myTabContent-{{ votacion.id }}" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="info-{{ votacion.id }}" aria-labelledby="info-tab-{{ votacion.id }}">
                        <div class="row">
                            <div class="col-xs-12 col-md-4 text-center">
                                {% if votacion.logotipo %}
                                    <img src="/{{ votacion.logotipo.webPath }}" alt="{{ votacion.nombre }}" class="img-thumbnail">
                                {% else %}
                                    <img src="{{ asset('images/default.jpeg') }}" alt="Imagen por defecto" class="img-thumbnail">
                                {% endif %}
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th class="col-xs-3">Nombre</th>
                                        <td class="col-xs-9 text-right">{{ votacion.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <th>Descripción</th>
                                        <td class="text-right">{{ votacion.descripcion }}</td>
                                    </tr>
                                    <tr>
                                        <th>Voto en blanco</th>
                                        <td class="text-right"><span class="label label-default">{% if votacion.votoEnBlanco %}Sí{% else %}No{% endif %}</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th class="col-xs-3">Nº electores</th>
                                        <td class="col-xs-9 text-right">{{ votacion.censoElectoral|length }}</td>
                                    </tr>
                                    <tr>
                                        <th class="col-xs-5">Total votantes</th>
                                        <td class="col-xs-7 text-right">{% if estadoFinalizado %}{{ votacion.numeroTotalVotantes }} ({{ ((votacion.numeroTotalVotantes * 100) / (votacion.censoElectoral|length))|number_format(2, ',', '.') }}%){% else %}---{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th>Abstención</th>
                                        <td class="text-right">{% if estadoFinalizado %}{{ votacion.censoElectoral|length - votacion.numeroTotalVotantes }} ({{ ((votacion.censoElectoral|length - votacion.numeroTotalVotantes)*100/votacion.censoElectoral|length)|number_format(2, ',', '.') }}%){% else %}---{% endif %}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="electorado-{{ votacion.id }}" aria-labelledby="electorado-tab-{{ votacion.id }}">
                        {% include ':Frontend/TablonAnuncios/includes:electorado.html.twig' with {"electorado" : electorado[votacion.id]} only %}
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="preguntas-{{ votacion.id }}" aria-labelledby="preguntas-tab-{{ votacion.id }}">
                        <div class="row">
                            <div class="col-xs-12" style="margin-top:15px">
                                {% for pregunta in votacion.preguntas %}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <table class="table table-hover">
                                                        <tbody>
                                                        <tr>
                                                            <th>#</th>
                                                            <td>{{ pregunta.id }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Enunciado</th>
                                                            <td>{{ pregunta.pregunta }}</td>
                                                        </tr>
                                                        <tr>
                                                            <table class="table table-hover">
                                                                <tbody>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Respuesta</th>
                                                                    <th>Número votos</th>
                                                                    <th>Porcentaje</th>
                                                                </tr>
                                                                {% for respuesta in pregunta.respuestas %}
                                                                    <tr>
                                                                        <th>{{ respuesta.id }}</th>
                                                                        <th>{{ respuesta.respuesta }}</th>
                                                                        <td>{% if estadoFinalizado %}{{ respuesta.numeroVotos }} votos{% else %}---{% endif %}</td>
                                                                        <td>{% if estadoFinalizado %}{{ (respuesta.numeroVotos * 100 / votacion.numeroVotos)|number_format(2, ',', '.') }} %{% else %}---{% endif %}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                                {% if estadoFinalizado %}
                                                                    <tr>
                                                                        <th>---</th>
                                                                        <th>En blanco</th>
                                                                        <td>{{ pregunta.numeroVotosEnBlanco }} votos</td>
                                                                        <td>{% if votacion.numeroVotos != 0 %}{{ (pregunta.numeroVotosEnBlanco * 100 / votacion.numeroVotos)|number_format(2, ',', '.') }}{% else %}0{% endif %}%</td>
                                                                    </tr>
                                                                {% endif %}
                                                                </tbody>
                                                            </table>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>