{% extends '::base.html.twig' %}

{% block title %}· Gestión de Eventos Electorales{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>{{ entity.eventoElectoral.nombre }} · {{ entity.nombre }} <small>Preguntas</small> <a class="btn btn-success btn-xs" href="{{ path('pregunta_new', { 'id' : entity.id }) }}">Nueva pregunta</a></h1>
    </div>

    {% for pregunta in entities %}
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">#{{ pregunta.id }} {{ pregunta.pregunta }}</h3>
                </div>
                <div class="panel-body"  style="min-height: 183px">
                    <div class="col-xs-4">
                        <h5>Detalles</h5>
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Orden</th>
                                    <td>{{ pregunta.orden }}</td>
                                </tr>
                                <tr>
                                    <th>Multirespuesta</th>
                                    <td>{% if pregunta.multirespuesta %}Sí{% else %}No{% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-8">
                        <h5>Respuestas</h5>
                        <table class="table table-hover">
                            <tbody>
                            {% for respuesta in pregunta.respuestas %}
                                <tr>
                                    <td>{{ respuesta.orden }}</td>
                                    <td>{{ respuesta.respuesta }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12">
                        <a class="btn btn-default btn-xs" href="{{ path('pregunta_edit', { 'id' : pregunta.id }) }}">Editar</a>
                        <a class="btn btn-default btn-xs" href="{{ path('pregunta_predelete', { 'id' : pregunta.id }) }}">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="clearfix"></div>

    <div class="col-xs-12 text-center">
        <a class="btn btn-default " href="{{ path('eventoelectoral_show', { 'id': entity.eventoElectoral.id }) }}"><span class="" aria-hidden="true"></span> Volver</a>
    </div>

{% endblock %}
