{% extends '::base.html.twig' %}

{% block title %}· Gestión de Eventos Electorales{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Nueva Pregunta</h1>
    </div>
    {% form_theme form ':Form:bootstrap_3_horizontal_layout.html.twig' %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Datos Pregunta</h3></div>
            <div class="panel-body">
                {{ form_start(form, { 'attr': {'class': 'form-horizontal', novalidate : 'novalidate' }}) }}
                {{ form_row(form.pregunta) }}
                {{ form_row(form.orden) }}
                {{ form_row(form.multirespuesta) }}
                <ul class="candidatos respuestas list-unstyled" data-prototype="{{ form_widget(form.respuestas.vars.prototype)|e }}">
                    {% for respuesta in form.respuestas %}
                        <li class="item">
                            {{ form_row(respuesta.respuesta) }}
                            {{ form_row(respuesta.orden) }}
                        </li>
                    {% endfor %}
                </ul>
                <div class="hide">
                    {{ form_row(form.respuestas) }}
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-12 text-center">
                        <a href="{{ path('pregunta_index', { 'id' : entity.referendum.id }) }}" class="btn btn-default">
                            Volver
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-edit"></i> Guardar
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('stylesheets/formulario_embebido_dinamico.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascripts/form_respuestas.js') }}"></script>
{% endblock %}