{% extends '::base.html.twig' %}

{% block title %}· Gestión de Eventos Electorales{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Nueva Votacion</h1>
    </div>
    {% form_theme form ':Form:bootstrap_3_horizontal_layout.html.twig' %}
    <div class="col-md-12">
		<div class="panel panel-default">
    		<div class="panel-heading"><h3 class="panel-title">Censo Electoral</h3></div>
    		<div class="panel-body">
    		    <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Ejemplo</strong>
                        dni;Nombre;Primer Apellido;Segundo Apellido
                    </div>
                </div>
            </div>
			{{ form_start(form, { 'attr': {'class': 'form-horizontal', novalidate : 'novalidate' }}) }}
		    	{{ form_rest(form) }}
				<div class="form-actions fluid">
                   <div class="col-md-12 text-center">
                        <a href="{{ path('eventoelectoral_show', { 'id' : entity.eventoElectoral.id }) }}" class="btn btn-default">
                            Volver
                        </a>
        				<button type="submit" class="btn btn-warning">
        					<i class="fa fa-edit"></i> Cargar
        				</button>
        			</div>
    			</div>
			{{ form_end(form) }}
			</div>
		</div>
    </div>
  </div>

{% endblock %}
