<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ entity.nombre }}<span class="pull-right label label-default">REFERENDUM</span></h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>#</th>
                    <td class="text-right">{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td class="text-right">{{ entity.nombre }}</td>
                </tr>
                <tr>
                    <th>Descripcion</th>
                    <td class="text-right">{{ entity.descripcion }}</td>
                </tr>
                <tr>
                    <th>Voto en blanco</th>
                    <td class="text-right"><h6 style="margin-top:0;margin-bottom:0">{% if entity.votoEnBlanco %}<span class="label label-success">PERMITIDO</span>{% else %}<span class="label label-default">NO PERMITIDO</span>{% endif %}</h6></td>
                </tr>
                <tr>
                    <th>Número de preguntas</th>
                    <td class="text-right">{{ entity.preguntas|length }}</td>
                </tr>
                <tr>
                    <th>Electores</th>
                    <td class="text-right">{{ entity.censoElectoral|length }}</td>
                </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary btn-xs {% if entity.censoElectoral.count == 0 %}disabled{% endif %}" data-toggle="modal" data-target="#censoElectoralModal-{{ entity.id }}">
                Ver censo electoral
            </button>
            {% if entity.censoElectoral|length > 0 %}
                <a href="{{ path('censoelectoral_clean', { 'id' : entity.id }) }}" class="btn btn-warning btn-xs">Eliminar el censo electoral</a>
            {% endif %}
            <a href="{{ path('censoelectoral_load', { 'id' : entity.id }) }}" class="btn btn-success btn-xs">Cargar censo electoral</a>
            <a href="{{ path('votacion_referendum_edit', { 'id' : entity.id }) }}" class="btn btn-info btn-xs">Editar</a>
            <a href="{{ path('votacion_referendum_predelete', { 'id' : entity.id }) }}" class="btn btn-danger btn-xs">Eliminar</a>
            <a href="{{ path('pregunta_index', { 'id' : entity.id }) }}" class="btn btn-default btn-xs">Ver preguntas</a>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="censoElectoralModal-{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Censo electoral: {{ entity.nombre }}</h4>
            </div>
            <div class="modal-body">

                <table class="table table-hover">
                    <thead>
                    <th>#</th>
                    <th>DNI</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Nombre</th>
                    </thead>
                    <tbody>
                    {% for elector in entity.censoElectoral  %}
                        <tr>
                            <td>{{ elector.id }}</td>
                            <td>{{ elector.dni }}</td>
                            <td>{{ elector.primerApellido }}</td>
                            <td>{{ elector.segundoApellido }}</td>
                            <td>{{ elector.nombre }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>